* {
  font-family: var(--f-poppins);
  font-style: normal;
  color: var(--clr-darksecondary);
}

#content {
  max-width: 968px;
  width: calc(100% - 3rem);
  background-color: var(--clr-lighttertiary);
  margin: 5rem auto;
  box-shadow: 1.3px 2.6px 2.6px hsl(0deg 0% 0% / 0.46);
  border-radius: 1.2rem;
  padding: 3rem;
}

#container {
  margin: auto;
  background-color: #88888811;
}

/* lines */
.line {
  border-top: 1px solid #20252a67;
  margin: 10px 0;
}
.line-A {
  border-top: 1px solid #20252a67;
  width: 90%;
  margin: 10px 0;
}

/* links*/
a {
  color: var(--clr-greendark);
  font-size: 1rem;
  text-decoration: none;
}

/* times */
time {
  font: var(--fw-semibold) 1rem/20px var(--f-poppins);
  margin-left: 2rem;
  color: var(--clr-greendark);
}

/*profile */
.profile {
  font: var(--fw-semibold) 2.5rem/40px var(--f-poppins);
}
h1 {
  text-transform: uppercase;
}
.profile h2 {
  font: var(--fw-regular) 1.5rem/30px var(--f-poppins);
  color: var(--clr-greendark);
}
.profile address {
  display: flex;
  font: var(--fw-medium) 1rem/30px var(--f-poppins);
  gap: 1rem;
}

/* aboutMe */
.aboutMe {
  margin: 3rem 0;
}
.aboutMe h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}
.aboutMe p {
  font: var(--fw-medium) 1rem/20px var(--f-poppins);
}
.aboutMe span {
  font-weight: var(--fw-bold);
}

/* experience*/
.experience {
  margin-bottom: 3rem;
}
.experience h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}
.experience h3 {
  font: var(--fw-medium) 1.5rem/20px var(--f-poppins);
  margin-bottom: 0.8rem;
  color: var(--clr-greendark);
}
.experience h4 {
  font: var(--fw-medium) 1.2rem/25px var(--f-poppins);
  margin-bottom: 0rem;
  color: var(--clr-greendark);
}
.experience p {
  font: var(--fw-regular) 1.25rem/20px var(--f-poppins);
  margin-bottom: 0.8rem;
}
.experience time {
  margin-left: 0;
}
.experience .space {
  margin-bottom: 3rem;
}

/* personal project */
.personalProject {
  margin-bottom: 1rem;
}
.personalProject p {
  font: var(--fw-medium) 1rem/20px var(--f-poppins);
  margin-bottom: 0.8rem;
}

/* academic qualifications */
.qualifications {
  margin-bottom: 3rem;
}
.qualifications h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}
.qualifications h3 {
  font: var(--fw-semibold) 1rem/20px var(--f-poppins);
  color: var(--clr-greendark);
}
.qualifications div {
  margin-bottom: 1rem;
}
.qualifications p {
  font: var(--fw-medium) 1rem/20px var(--f-poppins);
  margin: 0.5rem 0;
}

/* courses */
.courses {
  margin-bottom: 3rem;
}
.courses h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}
.courses h3 {
  font: var(--fw-medium) 1rem/20px var(--f-poppins);
}
.courses div {
  margin-bottom: 1rem;
}

/* additional */

.additional {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3rem;
}
.additional h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}
.additional h3 {
  font: var(--fw-bold) 1rem/20px var(--f-poppins);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.additional div {
  margin-bottom: 1rem;
}
.additional time {
  font: var(--fw-medium) 1rem/20px var(--f-poppins);
  margin-left: 2rem;
  color: var(--clr-greendark);
}

/* ability */
.ability ul {
  font: var(--fw-medium) 0.95rem/20px var(--f-poppins);
}

/* technologies */
.technologies ul {
  display: grid;
  grid-template-rows: repeat(3, 39px);
  grid-template-columns: repeat(3, 33%);
}

/* footer contato */
footer ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
footer nav p {
  color: var(--clr-greendark);
}

@media screen and (max-width: 768px) {
  #content {
    padding: 2rem;
  }

  .line-A {
    width: 100%;
  }
  .additional {
    display: block;
  }
  .ability ul,
  .technologies ul {
    grid-template-rows: none;
    gap: 1rem;
  }
  .ability,
  .technologies,
  .english {
    margin-top: 3rem;
  }
}

/* Estilos para telas pequenas */
@media screen and (max-width: 480px) {
  #content {
    margin: 3rem auto;
  }
  .profile address {
    display: block;
  }

  .ability ul,
  .technologies ul {
    grid-template-rows: none;
  }
  footer ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
