<div id="content">
  <header>
    <div class="profile">
      <hgroup>
        <h1>Murilo dos Santos</h1>
        <h2>Programador Frontend</h2>
      </hgroup>
      <address>
        <p>
          <i class="bx bxs-envelope"></i>
          <span href="mailto:muriisantuss@gmail.com">{{
            " muriisantuss@gmail.com"
          }}</span>
        </p>
        <p><i class="bx bxs-map"></i> São Paulo, BR</p>
      </address>
    </div>
  </header>

  <main>
    <section>
      <article class="aboutMe">
        <header>
          <h2>Sobre Mim</h2>
          <div class="line"></div>
        </header>
        <p>
          Desenvolvedor Frontend em fase de formação em Análise e
          Desenvolvimento de Sistemas. Aprimorando minhas habilidades na criação
          de interfaces atraentes e intuitivas.
          <span>
            Tenho experiência em JavaScript (ES6), HTML, CSS, GitHub, Git e
            Metodologias Ágeis.
          </span>
        </p>
      </article>
    </section>

    <section>
      <article class="experience">
        <header>
          <h2>Experiência</h2>
          <div class="line"></div>
        </header>
        <div class="space">
          <h3>Freelancer, São Paulo</h3>
          <p>Desenvolvedor Frontend</p>
          <time>• Jan 2024 - presente</time>
        </div>
        <section>
          <h2>Projetos</h2>
          <div class="line"></div>

          <div class="personalProject">
            <h4>• DevLinks</h4>
            <p>
              - Através do projeto "DevLinks", é possível acessar todas as
              minhas redes sociais.
              <br />
              <a
                href="https://muriisantuss.github.io/project-Rockeseat/"
                target="_blank"
                >link do projeto</a
              >
            </p>
          </div>

          <div class="personalProject">
            <h4>• Interactive Card</h4>
            <p>
              - O "Interactive Card" foi um projeto desafiador que contribuiu
              para o meu crescimento como programador.
              <br />
              <a
                href="https://muriisantuss.github.io/interactive-Card/  "
                target="_blank"
                >link do projeto</a
              >
            </p>
          </div>
          <div class="personalProject">
            <h4>• Security - TCC</h4>
            <p>
              O site "Security" apresenta informações únicas sobre um projeto
              ambicioso e inovador que simula um sistema de segurança
              residencial.
              <br />
              <a
                href="https://muriisantuss.github.io/security-tcc"
                target="_blank"
                >link do projeto</a
              >
            </p>
          </div>
        </section>
      </article>
    </section>

    <section>
      <article class="qualifications">
        <header>
          <h2>Qualificações Acadêmicas</h2>
          <div class="line"></div>
        </header>
        <div>
          <h3>
            Curso Técnico - Desenvolvimento de Sistemas, Etec Martinho Di Ciero
            - Extensão Fatec Itu
          </h3>
          <P>
            • Desenvolvimento e conclusão do TCC em Segurança Residencial com Arduino, competências tecnológicas, soft skills, experiência em métodos ágeis, trabalho em equipe, participações em visitas técnicas e mentoria.</P
          >
          <time class="date">2021 - 2023</time>
        </div>
        <div class="qualification">
          <h3>
            Cursando - Análise e Desenvolvimento de Sistemas, Fatec Itu - Dom
            Amaury Castanho
          </h3>
          <p>• Tecnólogo em Análise e Desenvolvimento de Sistemas, com sólida formação em programação, desenvolvimento de software e habilidades analíticas, destacando-se por projetos práticos e experiência em tecnologias relevantes.</p>
          <time> 2024 - 2026</time>
        </div>
      </article>
    </section>

    <section>
      <article class="courses">
        <header>
          <h2>Cursos e Qualificações complementares</h2>
          <div class="line"></div>
        </header>
        <div class="courses">
          <h3>BootCamp Dev Jr - Full Stack Dev Junior: Angular, Java e AWS</h3>
          <!-- <p> • descrição</p> -->
          <time> Mar 2024 - cursando</time>
        </div>
      </article>
    </section>

    <section>
      <article class="additional">
        <div class="ability">
          <header>
            <h2>Habilidades</h2>
            <div class="line-A"></div>
          </header>
          <ul>
            <ul>
              <li>• Soft Skills</li>
              <li>• Comunicação</li>
              <li>• Adaptabilidade</li>
              <li>• Analítico</li>
              <li>• Inteligência emocional</li>
            </ul>
          </ul>
        </div>

        <div class="english">
          <header>
            <h2>Idiomas</h2>
            <div class="line-A"></div>
          </header>

          <article class="languages">
            <div>
              <h3>Inglês</h3>
              <p>• Pré-intermediario</p>
            </div>
            <div>
              <h3>Português</h3>
              <p>• Fluente</p>
            </div>
          </article>
        </div>

        <div class="technologies">
          <header>
            <h2>Tecnologias</h2>
            <div class="line-A"></div>
          </header>
          <ul>
            <li>• Git</li>
            <li>• CSS</li>
            <li>• JS</li>
            <li>• HTML</li>
            <li>• GitHub</li>
            <li>• SQL</li>
            <li>• Node.js</li>
            <li>• ReactJS</li>
            <li>• Angular</li>
          </ul>
        </div>
      </article>
    </section>
    <footer>
      <nav>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/muriii">
              <i class="bx bxl-linkedin-square"></i> LinkedIn
            </a>
          </li>
          <li>
            <a href="https://github.com/muriisantuss">
              <i class="bx bxl-github"></i> GitHub
            </a>
          </li>
          <li>
            <a href="tel:+5511973564477">
              <i class="bx bxs-phone"></i> (11) 97356-4477
            </a>
          </li>
        </ul>
      </nav>
    </footer>
  </main>
</div>
